{% extends 'base.html.twig' %}

{% block title %}Blogs!
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<div class="row">
			{% for message in app.flashes('notice') %}

				<div class="alert-success">{{ message }}</div>
			{% endfor %}
		</div>
		{% block content %}
			{% for post in posts %}
				<div class="row">
					<div class="span8">
						<div class="row">
							<div class="span8">
								<h4>
									<strong>
										<a href="{{ path('micro_post_post', {'id':post.id}) }}">Title</a>
									</strong>
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="span2">
								<a href="#" class="thumbnail">
									{% set initials = post.user.fullName|split(' ') %}
									<img src="holder.js/300x200?text={{ attribute(initials, 0)|first }}{{ attribute(initials, 1)|first }}" style="height:50px;width:50px" alt="">
								</a>
							</div>
							<div class="span6">
								<p>
									{{ post.text }}
								</p>
								<p>
									<a class="btn" href="#">Read more</a>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span8">
								<p></p>
								<p>
									<i class="icon-user"></i>
									by
									<a href="#">{{ post.user.username }}</a>
									|
									<i class="icon-calendar"></i>
									{{ post.time | date }}
									|
									<i class="icon-comment"></i>
									<a href="#">3 Comments</a>
									|
									<i class="icon-share"></i>
									<a href="#">39 Shares</a>
									|
									<i class="icon-tags"></i>
									Tags :
									<a href="#">
										<span class="label label-info">Snipp</span>
									</a>
									<a href="#">
										<span class="label label-info">Bootstrap</span>
									</a>
									<a href="#">
										<span class="label label-info">UI</span>
									</a>
									<a href="#">
										<span class="label label-info">growth</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				{% if is_granted('edit', post) %}
					<a href="{{ path('micro_post_edit', {'id': post.id}) }}" class="btn btn-warning">edit</a>
				{% endif %}
				{% if is_granted('delete', post) %}
					<a href="{{ path('micro_post_delete', {'id': post.id}) }}" class="btn btn-danger">delete</a>
				{% endif %}
				<hr>
			{% endfor %}
		{% endblock %}
	</div>
{% endblock %}
