{% extends 'base.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block body %}

	<p>
		ID:{{ id }}
	</p>
	<h1>{{ post.title | upper }}</h1>
	<p>{{ post.content }}</p>
	<p>{{ post.created_at | date('H:i') }}</p>
	<p>
		{{ 500 | price }}
	</p>
{% endblock %}
